<nav class="navbar bg-body-tertiary">
  <div class="container-fluid m-4">
    <a class="navbar-brand fs-1 fw-bold" href="/">
    PCIU
    <% if current_usuario %>
      <% if current_usuario.tipo == 'Professor' %>
        <span class="fs-3 fw-normal">Professor</span>
      <% else %>
        <span class="fs-3 fw-normal">Aluno</span>
      <% end %>
    </a>
    <%= button_to "Sair", destroy_usuario_session_path, class: "btn btn-dark", method: :delete %>
    <% end %>
  </div>
</nav>