<% @comunicado.comentarios.each do |comentario| %>
    <div class="container card mb-5 border border-darker-subtle border-2 rounded-3">
        <div class="card-body">
            <p class="card-text text-dark"><%= comentario.corpo %></p>
        </div>
    </div>
<% end %>